.txt-center{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size:20px;
    font-weight: 700;
    color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.table thead tr td{
    font-weight: 700;
}
.full-width{
    width:100%
}
