<div class="container">
    <h2 class="bg-primary mt-3 p-2 txt-center">Experience Section</h2>
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>TITLE</td>
                <td>COMPANY NAME</td>
                <td>LOCATION</td>
                <td>DURATION</td>
                <td>DESCRIPTION</td>
                <td>EMPLOYMENT TYPE</td>
                <td colspan="2">ACTION</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exp of experienceList;let i=index">
                <td>{{i+1}}</td>
                <td>{{exp.title}}</td>
                <td>{{exp.companyName}}</td>
                <td>{{exp.location}}</td>
                <td>{{exp.startMonth}} {{exp.startYear}} - {{exp.endMonth}} {{exp.endYear}}</td>
                <td>{{exp.description}}</td>
                <td>{{exp.employmentType}}</td>
                <td>
                    <button type="button" (click)="updateExperience(exp)" class="btn btn-info">Update</button>
                </td>
                <td>
                    <button type="button" (click)="deleteExperience(exp)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button color="primary" class="mt-3">+ ADD NEW EXPERIENCE</button>

</div>