<div class="container">
    <div class="row  bg-light">
        <!-- New Book -->
        <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>
        </div>
        <!-- New Book -->
        <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>

        </div>
           <!-- New Book -->
           <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>
        </div>
        <!-- New Book -->
        <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>

        </div>
           <!-- New Book -->
           <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>
        </div>
        <!-- New Book -->
        <div class="card img-hover">
            <h5 class="card-title text-center">JOJO MOYES AFTER YOU</h5>
            <img src="../IMAGE/AFTER YOU.jpg" class="card-img-top img-thumbnail" alt="AFTER YOU" height="250px">

            <p>
                Rs.<strong class=""> 100</strong>
            </p>
            <p class="text-success text-right fw-bold">In Stock</p>
            <input type="text" placeholder="AREA PIN CODE" class="btn btn1">
            <button class="btn btn-outline-primary" type="submit">Check COD Availability</button>
            <button class="btn btn-outline-warning" type="submit">Add To Cart</button>

            <button class="btn btn-outline-success" type="submit">Buy Now</button>

        </div>
    </div>
</div>