<div class="container mt-4">
    <footer class="page-footer font-small blue pt-4">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase" style="font-weight: bold;">About Us</h5>
                    <i>

                        Worry not! Because <i style="font-weight: bold;">{{BrandName}}</i> here to answer all your
                        doubts about resume.
                        Spread to everywhere if you love our templates and transperncy.
                    </i>
                    <h5 class="text-uppercase" style="font-weight: bold;">Contact Us</h5>
                    <p>
                        <a class="navbar-brand" href="home"><i style="font-weight: bold;">{{BrandName}}</i></a>
                    </p>
                    <hr>
                    <a class="navbar-brand text-left" href="#">
                    </a>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-6">

                    <!-- Links -->
                    <h5 class="text-uppercase">Information</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Privacy Policy </a>
                        </li>
                        <li>
                            <a href="#!">Terms & Conditions</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="home"> theperfectresume.com</a>
        </div>
        <!-- Copyright -->

    </footer>

</div>